@mixin ZeroIt() {
	margin: 0;
	padding:0;
}

@mixin LinksInverted() {
	color: $ColorMain;
}

@mixin NoUnderlineLink() {
	&:hover {
		text-decoration: none;
	}
}

@mixin DefaultTextShadow() {
	text-shadow: rgba(0, 0, 0, 1) 0px 1px 1px;
}